<div class="subpage">

  <h3 class="green-gradient">Points + Badges - Top Dollar Dispatcher Users</h3>

  <ul id="top-users">
    <li class="user user-gold">Greg, Marina Del Rey, CA</li>
    <li class="user-amt">$10,000</li>
    <li class="user user-gold">Mike, El Segundo, CA</li>
    <li class="user-amt">$9,000</li>
    <li class="user user-gold">Kevin, Los Angeles, CA</li>
    <li class="user-amt">$8,000</li>
    <li class="user">Chris, Los Angeles, CA</li>
    <li class="user-amt">$7,000</li>
    <li class="user">Greg, Marina Del Rey, CA</li>
    <li class="user-amt">$6,000</li>
    <li class="user">Mike, El Segundo, CA</li>
    <li class="user-amt">$5,000</li>
    <li class="user">Kevin, Los Angeles, CA</li>
    <li class="user-amt">$4,000</li>
    <li class="user">Chris, Los Angeles, CA</li>
    <li class="user-amt">$3,000</li>
    <li class="user">Greg, Marina Del Rey, CA</li>
    <li class="user-amt">$2,000</li>
    <li class="user">Mike, El Segundo, CA</li>
    <li class="user-amt">$1,000</li>
    <li class="user">Kevin, Los Angeles, CA</li>
    <li class="user-amt">$900</li>
    <li class="user">Chris, Los Angeles, CA</li>
    <li class="user-amt">$800</li>
    <li class="user">Greg, Marina Del Rey, CA</li>
    <li class="user-amt">$700</li>
    <li class="user">Mike, El Segundo, CA</li>
    <li class="user-amt">$600</li>
    <li class="user">Kevin, Los Angeles, CA</li>
    <li class="user-amt">$500</li>
    <li class="user">Chris, Los Angeles, CA</li>
    <li class="user-amt">$400</li>
    <li class="user">Greg, Marina Del Rey, CA</li>
    <li class="user-amt">$300</li>
    <li class="user">Mike, El Segundo, CA</li>
    <li class="user-amt">$200</li>
    <li class="user">Kevin, Los Angeles, CA</li>
    <li class="user-amt">$100</li>
    <li class="user">Chris, Los Angeles, CA</li>
    <li class="user-amt">$90</li>
    <div class="clear"></div>
  </ul>

</div>